/*  */
*{
    margin: 0;
    padding: 0;
}
.b-header{
    width: 1200px;
    margin: 0px auto 0;
    text-align: center;
}
.b-header-h{
    width: 350px;
    margin: 50px auto;
}
.b-fontone{
    font-size: 33px;
}
.b-fonttwo{
    font-size: 17px;
    color: rgb(153, 153, 153);
    margin-top: 17px;
}
.b-tab{
    width: 1040px;
    margin-top: 35px;
    margin: 25px auto 0;
}
.b-tab ul{
    list-style: none;
    height: 40px;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
}
.b-tab ul li{
    height: 25px;
    font-size: 17px;
    padding: 0 17px;
    margin: 0 12px 0 0;
    border-radius: 14px;
    position: relative;
}
.b-tab ul li .i{
    position: absolute;
    left: 5%;
    margin-left: -6px;
    bottom: -14px;
    width: 120px;
    /* height: 8px; */
    /* background:  rgb(0, 204, 255); */
    border-bottom: 0 none;
    border-top: 6px solid rgb(0, 204, 255);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.b-tab ul li .i >i{
    position: absolute;
    left: 50%;
    margin-left: -6px;
    /* bottom: -18px; */
    overflow: hidden;
    width: 0px;
    height: 0px;
    /* background:  rgb(0, 204, 255); */
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 0 none;
    border-top: 6px solid rgb(0, 204, 255);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
.b-tab ul li:nth-child(1){
    background: rgb(0, 204, 255);
    color: white;
}
.b-carousel{
    width: 1040px;
    margin: 0 auto;
    height: 355px;
    /* overflow: hidden; */
}
.b-product-detail{
    position: absolute;
    width: 250px;
    height: 220px;
    background: black;
    top: 250px;
    left: 0;
    opacity: 0.5;
    z-index: 2;
    color: white;
}
.b-product-detail span{
    font-size: 12px;
    padding: 0 17px 0;
}
.g-scrolling-carousel .items{
    padding: 5px 0;
    width: 1040px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    overflow: hidden;
}
.g-scrolling-carousel .items a{
    display: inline-block; /* notice the comments between inline-block items */
    margin-right: 15px;
    width: 250px;
    height: 350px;
    /* box-shadow: 0 0 5px #000; */
    text-align: center;
    position: relative;
}