#content{
    width:100%;
    height:1232px;
}
.con-content{
    /* margin:20px auto; */
    text-align: center;
}
.con-content p{
    margin-bottom:5px;
    font-size:25px;
    font-weight:500;
}
.con-content span{
    font-size:18px;
    color:#999;
}
.condemo{
    position: relative;
    margin:20px auto;
    width:100%;
    height:540px;
    background-size:100% 100%;
    background-image: url("../img/banner.jpg");
    overflow: hidden;
}
.con-ul{
    width:800px;
    height:320px;
    /* background-color: pink; */
}
.con-ul li{
    float:left;
    padding-top:5px;
    padding-left:27px;
    height: 160px;
    margin: 0 auto;
}
.con-ul a{
    text-decoration: none;
}
.con-ul li img{
    display: block;
    width:130px;
    height:90px;
}
.con-ul li:nth-child(7){
    margin-left: -12px;
}
.con-ul li span{
    font-size:12px;
    display:block;
    height:20px;
    line-height: 20px;
    color:#fff8a3;
}

.con-ul li e{
    padding: 0 6px;
}
.con-content p2{
    margin-bottom:5px;
    font-size:30px;
    font-weight:500;
}
.con-content span2{
    font-size:20px;
    color:#ccc;
}
.content conspan-1{
    width:170px;
    margin-left:-40px;
}
.con-2{
    margin-top: 50px;
}
.con-3{
    width: 100%;
    height: 250px;
    margin-top: 73px;
}
.con-3-1{
    width: 1200px;
    height: 250px;
    margin: 0 auto;
}
.con-top{
    width:1200px;
    height:125px;
    margin-top: -15px;
}
.con-bottom{
    width: 100%;
    float:right;
    margin-top: -5px;
}
.con-top{
    width: 100%;
    float:right;
}
.con-top li,.con-bottom li{
    width: 33%;
    float:left;
}
.con-top img,.con-bottom img{
    float: left;
}
.con-text{
    width: 275px;
    height:104px;
    float: left;
}

.con-text.con-t3{
    display: block;
    width:275px;
    margin: 0 auto;
}
.con-text.con-t2{
    display: block;
    width:275px;
    margin: 0 auto;
}
.con-text h5{
    height:15px;
    float: left;
    display: block;
    /* margin-left:10px; */
    color:#999;
    margin: 10px 10px;
}
/* .con-text img{
    width: 16px;
    display: block;
    float: left;
    margin-left:-194px;
    margin-top:29px;
    padding:0 10px;
} */
.con-spanz{
    color: #999;
}