.header-er{
    width:1200px;
    background-color: #fff;
    margin:25px auto;
    text-align: center;
}   
.header-title{
    width:340px;
    height:60px;
    line-height: 60px;
    background-color: #3399ff;
    margin:0 auto;
    color:#fff;
    font-weight: bold;
    font-size: 25px;
}
.people{
    margin:20px auto;
    width: 1077px;
    overflow: hidden;
}
.people li{
    float: left;
    margin:0 auto;
    width: 25%;
}
.people li img{
    width:217px;
    height:217px;
}
.people li p{
    font-size: 20px;
    display: block;
    width: 100%;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}
.details{
    width:100%;
    margin: 30px auto;
}
.details .know{
    width: 200px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 19px;
    border: 1px solid #1f8ceb;
    margin:auto;
    color:#1f8ceb;
    border-radius:30px;
    margin-bottom:20px;
}
.details .mm{
    color: #333;
    font-size: 26px;
}
.details .air{
    font-size: 14px;
    color:#b6b6b6;
}
.details_one{
    height:392px;
}
.details-left{
    float: left;
    width: 474px;
    height:392px;
    margin-right:5px;
}
.details-left img{
    width: 100%;
    height:100%;
}
.details-right{
    float: right;
    width: 718px;
    height:392px;
}
.details-right li{
    float: left;
    margin:4px;
}
.details-right li:nth-child(1),.details-right li:nth-child(2),.details-right li:nth-child(3){
    margin-top: 0;
    margin-bottom: 0;
}
.details-right li:nth-child(4),.details-right li:nth-child(5),.details-right li:nth-child(6){
    margin-bottom: 0;
}
.details-right li:nth-child(1),.details-right li:nth-child(4){
    margin-left: 0;
}