*{ 
    text-decoration: none;
}
#nav{
    width:100%;
    min-width: 1200px;
    height:927px;
}
.top-nav{
    width:100%;
    background:#f7f7f7;
    height:27px;
    border-bottom: 1px solid #ececec;
}
.top-nav .nav{
    width: 1158px;
    height:27px;
    margin: 0 auto;
    color: #999999;
    line-height: 27px;
    font-size:12px;
}
.nav-left{
    float: left;
}
.nav-right{
    float: right;
}
.nav-right li{
    float: left;
    padding: 0 16px 0 15px;
}
.nav-right li.line{
    margin:8px 0;
    padding: 0;
    width:2px;
    height:12px;
    background: #999;
}
.nav-right li a{
    color: #999;
}
.middle-nav{
    width: 100%;
    height:100px;
}
.middle-nav .nav{
    width: 1158px;
    margin: 0 auto;
}
.middle-nav .n-logo{
    width:240px;
    height:47px;
    padding: 28px 0 25px 0;
    float: left;
}
.middle-nav .n-phone{
    margin: 40px 0 29px 0;
    float: right;
    color: #b8b8b8;
}
.middle-nav .n-phone img{
    width: 15px;
    height: 19px;
}
.middle-nav .n-phone .n-kefu{
    font-size:18px;
    font-weight:800;
}
.middle-nav .n-phone .n-num{
    font-size:23px;
    color: #3399ff;
    font-weight: 800;
}
.nav-header{
    width: 100%;
    background: #1f8ceb;
    height:58px;
}
.nav-header .nav-list{
    width:1158px;
    margin: 0 auto;
    height:58px;
}
.nav-header .nav-list li{
    float: left;
    height:58px;
    line-height:58px;
    width: 11%;
    text-align: center;
}
.nav-header .nav-list li a{
    color: #ffffff;
    font-size: 20px;
}
.nav-header .nav-list li:hover{
    font-weight:500;
    background: #0066cc;
    border:1px solid #3ea5fe;
    border-top:none;
    border-bottom: none;
    width: 11%;
}
.nav_banner{
    width:100%;
    height:473px;
    margin: 0 auto;
    position: relative;
}
.nav_banner .nav_banner_list{
    width: 100%;
    height: 473px;
    position: relative;
    z-index: 0;
}
.nav_banner .nav_banner_list li{
    position: absolute;
    width: 100%;
    height: 473px;
}
.nav_banner .nav_banner_list li a img{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
.nav_banner .round{
    width:1158px;
    margin: 0 auto;
    position: absolute;
    bottom:50px;
    left:0;
    right:0;
    text-align: center;
}
.nav_banner .round li{
    height:10px;
    width: 10px;
    display: inline-block;
    background-color: #fff;
    margin: 0 5px;
}
.nav_banner .round li.active{
    background-color: #ffcc00;
}
.n-java{
    width: 100%;
    background: #f2f2f2;
    height:292px;
}
.n-java .n-java-list{
    width:1100px;
    background:#fff;
    margin: 0 auto;
    margin-top: -72px;
    z-index:99;
    position: relative;
    padding: 13px 10px;
    height:118px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}
.n-java .n-java-list li{
    float: left;
    width:23.5%;
    display: inline-block;
    height:118px;
    margin-left:13px;
}
.n-java .n-java-list li:nth-child(4){
    margin-right:10px;
}
.n-java .n-java-list li img{
    width:262px;
    height:118px;
}
.n-zero{
    width:1100px;
    margin: 0 auto;
    height:147px;
}
.n-zero li{
    float: left;
    width: 19%;
    display: inline-block;
    color: #fff;
    border-right:1px solid #ccc;
    height:66px;
    margin:41px 0;
    padding: 10px 30px 5px;
}
.n-zero li:nth-child(4){
    border: none;
}
.n-zero li .n-zero-box{
    display: inline-block;
    float: left;
}
.n-zero li .n-zero-box .n-zero-top{
    display: inline-block;
}
.n-zero li .n-zero-box .n-zero-top img,.n-zero li .n-zero-box .n-zero-top h6{
    float: left;
}
.n-zero li .n-zero-box .n-zero-top img{
    width:25px;
    height:25px;
}
.n-zero li .n-zero-box .n-zero-top span{
    font-size:22px;
    color: #666666;
}
.n-zero li .n-zero-box .n-zero-bottom{
    font-size:13px;
    color: #999999;
    text-align: center;
    padding-top:5px;
}