<div class="b-header">
    <div class="b-header-h">
        <p class="b-fontone">大华教育精英教师团队</p>
        <p class="b-fonttwo">不跟风、不吹嘘，对学生负责到底</p>
    </div>
    <div class="b-tab">
        <ul>
            <li><span>UI/UE设计</span><i class="i"><i></i></i></li>
            <li><span>H5全栈工程师</span></li>
            <li><span>JAVA+大数据</span></li>
            <li><span>Python+人工智能</span></li>
        </ul>
    </div>
    <div class="b-carousel">
        <div class="g-scrolling-carousel">
            <div class="items">
                <a href="#">
                    <img src="./img/b-wang.png" alt="">
                    <div class="b-product-detail">
                        <p>王可嘉<span>14年工作经验</span></p>
                        <p>UI高级讲师</p>
                    </div></a>
                <a href="#">
                        <img src="./img/b-hui.png" alt="">
                        <div class="b-product-detail">
                            <p>惠瑞<span>8年工作经验</span></p>
                            <p>H5高级讲师</p>
                        </div>
                </a>
                <a href="#">
                        <img src="./img/b-zhang.png" alt="">
                        <div class="b-product-detail">
                            <p>张鹏举<span>10年工作经验</span></p>
                            <p>Python高级讲师</p>
                        </div>
                </a>
                <a href="#">
                        <img src="./img/b-longge.png" alt="">
                        <div class="b-product-detail">
                            <p>杨成龙<span>8年工作经验</span></p>
                            <p>H5高级讲师</p>
                        </div>
                </a>
                <a href="#">
                        <img src="./img/b-wang.png" alt="">
                        <div class="b-product-detail">
                            <p>奥特曼<span>4w年工作经验</span></p>
                            <p>超级讲师</p>
                        </div>
                </a>
                <a href="#">
                        <img src="./img/b-wang.png" alt="">
                        <div class="b-product-detail">
                            <p>怪兽<span>5w年工作经验</span></p>
                            <p>超级BUG测试</p>
                        </div>
                </a>
            </div>
        </div>
    </div>
    <div class="b-header-h">
        <p class="b-fontone">学员作品</p>
        <p class="b-fonttwo">紧跟时代潮流，构造高质量作业</p>
    </div>
    <div class="b-carousel">

    </div>
</div>
<script>
    $(document).ready(function(){
         $(".g-scrolling-carousel .items").gScrollingCarousel();
    }); 
</script>