<div class="header-er">
    <div class="header-one">
        <p class="header-title">适合什么样的人群学习？</p>
        <ul class="people">
            <li>
                <img src="img/er_1.jpg" alt="">
                <p style="color:#33ccff">初中生16岁+</p>
            </li>
            <li>
                <img src="img/er_2.jpg" alt="">
                <p style="color:#1f8ceb">高中生18岁+</p>
            </li>
            <li>
                <img src="img/er_3.jpg" alt="">
                <p style="color:#2562ec">大学生22岁+</p>
            </li>
            <li>
                <img src="img/er_4.jpg" alt="">
                <p style="color:#2d509e">退伍军人30岁-</p>
            </li>
        </ul>
    </div>
    <div class="details">
        <p class="know">了解入学详情</p>
        <span class="mm">校园占地2300亩，设施齐备</span>
        <p class="air" style="margin-top:8px;margin-bottom:15px;">在空气清新，环境优美的环境里学习</p>
        <div class="details_one">
            <div class="details-left">
                <img src="img/er_5.jpg" alt="">
            </div>
            <ul class="details-right">
                <li>
                    <img src="img/er_6.jpg" alt="">
                </li>
                <li>
                    <img src="img/er_7.jpg" alt="">
                </li>
                <li>
                    <img src="img/er_8.jpg" alt="">
                </li>
                <li>
                    <img src="img/er_9.jpg" alt="">
                </li>
                <li>
                    <img src="img/er_10.jpg" alt="">
                </li>
                <li>
                    <img src="img/er_11.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>



    
