<div class="top-nav">
    <div class="nav">
        <div class="nav-left">
            欢迎来到大华教育集团官网!
        </div>
        <ul class="nav-right">
            <li>
                <a href="#">登录</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="#">注册</a>
            </li>
        </ul>
    </div>
</div>
<div class="middle-nav">
    <div class="nav">
        <img class="n-logo" src="img/n-logo.png" alt="">
        <div class="n-phone">
            <img src="img/n-phone.png" alt="">
            <span class="n-kefu">在线客服电话:</span>
            <span class="n-num">400-800-666</span>
        </div>
    </div>
</div>
<div class="nav-header">
    <ul class="nav-list">
        <li>
            <a href="#">首页</a>
        </li>
        <li>
            <a href="#">大华简介</a>
        </li>
        <li>
            <a href="#">培训课程</a>
        </li>
        <li>
            <a href="#">师资力量</a>
        </li>
        <li>
            <a href="#">合作企业</a>
        </li>
        <li>
            <a href="#">校园风采</a>
        </li>
        <li>
            <a href="#">学员作品</a>
        </li>
        <li>
            <a href="#">联系我们</a>
        </li>
        <li>
            <a href="#">大华招聘</a>
        </li>
    </ul>
</div>
<div class="nav_banner">
    <ul class="nav_banner_list">
        <li>
            <a href="">
                <img src="img/n-banner.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="img/n-banner.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="img/n-banner.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="img/n-banner.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="img/n-banner.jpg" alt="">
            </a>
        </li>
    </ul>
    <ol class="round">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
</div>
<script src="js/nav-swiper.js"></script>
<div class="n-java">
    <ul class="n-java-list">
        <li>
            <img src="img/n-java.jpg" alt="">
        </li>
        <li>
            <img src="img/n-python.jpg" alt="">
        </li>
        <li>
            <img src="img/n-html.jpg" alt="">
        </li>
        <li>
            <img src="img/n-ui.jpg" alt="">
        </li>
    </ul>
    <ol class="n-zero">
        <li>
            <div class="n-zero-box">
                <div class="n-zero-top">
                    <img src="img/n3.png" alt="">
                    <span>“零”基础入学</span>
                </div>
                <div class="n-zero-bottom">无需任何专业基础知识包学包会</div>
            </div>
        </li>
        <li>
            <div class="n-zero-box">
                <div class="n-zero-top">
                    <img src="img/n4.png" alt="">
                    <span> 提供助学贷款</span>
                </div>
                <div class="n-zero-bottom">免手续费贷款业务让您轻松入学</div>
            </div>
        </li>
        <li>
            <div class="n-zero-box">
                <div class="n-zero-top">
                    <img src="img/n3.png" alt="">
                    <span> 三大专业技能证书</span>
                </div>
                <div class="n-zero-bottom">提供专业的技能认证证书，准您驰骋职场</div>
            </div>
        </li>
        <li>
            <div class="n-zero-box">
                <div class="n-zero-top">
                    <img src="img/n3.png" alt="">
                    <span>&nbsp;学信网可查学历</span>
                </div>
                <div class="n-zero-bottom">提供社会认可的高等学历普升通道</div>
            </div>
        </li>
    </ol>
</div>